.row {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    font-family: poppins
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --color-1:#303136;/* bgc body , numbers*/
    --color-2:#17181a; /* bgc container*/
    --color-3:#fff;/* textarea color*/
    --color-4:#29A8FF; /* numbers color*/
    --color-5:#616161; /* ac , del bgc*/
    --color-6:#a5a5a5; /* ac , del color*/
    --color-7:#1991ff; /* equal bgc*/
    --color-8:#b2daff; /* equal color*/
    --color-10:#005db2; /* operation bgc*/
    --color-11:#339dff; /* operation color*/
    --color-12:#5c5c5c; /* numbers hover*/
    --color-13:#b2daff; /* equal hover bgc*/
    --color-14:#50aaff; /* equal hover color*/
    --color-15:#549ee4; /* operation hover bgc*/
    --color-16:#cde7ff; /* operation hover color*/

}
.lightMode {
    --color-1:#cfd6dd;
    --color-2:#aaaaaa;
    --color-3:#000;
    --color-4:#000000;  
    --color-5:#dfdfdf;  
    --color-6:#757575;  
    --color-7:#868686;  
    --color-8:#dbdbdb;  
    --color-10:#969696;  
    --color-11:#ffffff;  
    --color-12:#e0e0e0;  
    --color-13:#000000;  
    --color-14:#cacaca;  
    --color-15:#cacaca;  
    --color-16:#000000;  
}
body {
    background-color: var(--color-1);
    transition: all 0.3s;
}

#container {
    width: 400px;
    height: 700px;
    background-color: var(--color-2);
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    position: relative;
}

#changingMode {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

#changingMode i {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 35px;
    background-color: var(--color-1);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#answerPage {
    margin-top: 80px;
}

#answerPage textarea {
    width: 300px;
    resize: none;
    border: none;
    outline: none;
    font-size: 40px;
    height: 70px;
    background: transparent;
    color: #fff;
}

#calculator {
    margin-top: 50px;
}

.numbers {
    color: var(--color-4);
    background-color: var(--color-1);
    width: 60px;
    height: 60px;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    font-family: poppins;
    font-size: 20px;
    user-select: none;
}

.numbers:hover {
    background-color: var(--color-12);
    scale: 1.1;
    transition: all 0.2s;
}

.zero {
    width: 140px;
    margin-top: 20px;
}

.plus {
    height: 90px;
    margin-bottom: 35px;
    margin-top: -55px;
}

.equal {
    height: 105px;
    margin-top: -25px;
    background-color: var(--color-7);
    color: var(--color-8);
}

.equal:hover {
    background-color: var(--color-14);
    color: var(--color-13);
}

.specialStyle {
    background-color: var(--color-5);
    color: var(--color-6);
}

.differentStyle {
    background-color: var(--color-10);
    color: var(--color-11);
}

.differentStyle:hover {
    background-color: var(--color-15);
    color: var(--color-16);
}

.math-operators {
    width: 60px;
    height: 45px;
    border-radius: 50px;
    color: var(--color-4);
    background-color: var(--color-1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}

.math-operators:hover{
    background-color: var(--color-12);
    scale: 1.1;
    transition: all 0.2s;
}